   	* {
    		font-family: 'Raleway', sans-serif;
    		margin: 0;
    		padding: 0;
    	}

    	.cont {
    		background-color: #170E1A;
    		overflow: hidden;
    	}



    	.cresticNolic {
			  display: grid;
			  grid-template: auto auto / auto auto auto;
			  height: 100vh;
			  max-width: 70%;
    	}

    	.col-1 {
			  font-size:200%;
			  display:flex; 
			  justify-content:center; 
			  align-items:center;
			  border: 2px solid #ff6e07;
    	}


    	.ocno {
    		width: 300px;
    		border-radius: 40px;
    		height: 300px;
    		background-color: #fff;
    		position: fixed;
    		top: 30%;
    		right: 30px;
    		display: none;
    	}

    	.ocno p {
    		color: #F2930C;
    		text-align: center;
    		padding: 20px 0;
    		font-size: 30px;
    	}

    	#txt {
    		text-align: center;
    		color: #759169;
    		font-size: 50px;
    		font-weight: bold;
    		padding-top: 40px;
    	}

    	.ocno.active {
    		display: block;
    		animation: ocno 0.5s linear;
    	}

    	@keyframes ocno {
		    0% {
		    	right: -200px;
		    	transform: rotate(200deg);

		    }
		    100% {
		    	right: 30px;
		    }
		}

    	.ocno {
    		color: #fff;
    		font-size: 25px;
    	}

    	#btn {
    		font-size: 50px;
    		color: #ffff;
    		background-color: rgba(255, 107, 84, 1);
    		border: none;
    		border-radius: 10px;
    		position: fixed;
    		width: 200px;
    		height: 100px;
    		bottom: 40px;
    		right: 30px;
    	}

    	.col-1 p {
    	  color: #fff;
    	  font-size: 100px;
		  font-weight: bold;
		  font-family: Helvetica;
		  text-shadow: 
		    0 1px 0 #ccc, 
		    0 2px 0 #c9c9c9, 
		    0 3px 0 #bbb, 
		    0 4px 0 #b9b9b9, 
		    0 5px 0 #aaa, 
		    0 6px 1px rgba(0,0,0,.1), 
		    0 0 5px rgba(0,0,0,.1), 
		    0 1px 3px rgba(0,0,0,.3), 
		    0 3px 5px rgba(0,0,0,.2), 
		    0 5px 10px rgba(0,0,0,.25), 
		    0 10px 10px rgba(0,0,0,.2), 
		    0 20px 20px rgba(0,0,0,.15);
		    animation: animatezoom 0.2s;
    	}

    	@keyframes animatezoom {
		    from {transform: scale(0)}
		    to {
		    	transform: scale(1);
		    	text-shadow:
					    0 0 5px #fff,
					    0 0 10px #fff,
					    0 0 20px #fff,
					    0 0 40px #0ff,
					    0 0 80px #0ff,
					    0 0 90px #0ff,
					    0 0 100px #0ff,
					    0 0 150px #0ff;
		    }
		}


		@media (max-width: 1024px) {
			.cresticNolic {
				max-width: 100%;
			}
		}

		@media (max-width: 667px) {
			#btn {
				width: 100px;
				height: 100px;
				right: 0;
				bottom: 0;
			}
		}