body, html {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='1000' preserveAspectRatio='none' viewBox='0 0 1600 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1600' height='1000' x='0' y='0' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/rect%3e%3cpath d='M -736.4776919179247%2c616 C -576.48%2c517.2 -256.48%2c83 63.52230808207526%2c122 C 383.52%2c161 543.52%2c816 863.5223080820753%2c811 C 1183.52%2c806 1516.23%2c117.2 1663.5223080820754%2c97 C 1810.82%2c76.8 1612.7%2c587.4 1600%2c710' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -240.73670301874654%2c807 C -80.74%2c664.2 239.26%2c119.6 559.2632969812535%2c93 C 879.26%2c66.4 1039.26%2c676 1359.2632969812535%2c674 C 1679.26%2c672 2111.12%2c33.2 2159.2632969812535%2c83 C 2207.41%2c132.8 1711.85%2c755 1600%2c923' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -998.6237821908134%2c342 C -838.62%2c457.2 -518.62%2c940.6 -198.62378219081336%2c918 C 121.38%2c895.4 281.38%2c278.8 601.3762178091866%2c229 C 921.38%2c179.2 1201.65%2c702.8 1401.3762178091865%2c669 C 1601.1%2c635.2 1560.28%2c181.8 1600%2c60' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1600' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.formBlock {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.formBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}
.formBlock .forma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  background-color: #d0b7ff;
  padding: 50px;
  border-radius: 30px;
}
.formBlock .forma > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.formBlock .forma input {
  width: 500px;
  height: 50px;
  background-color: #fff;
  border: 3px solid #88ccf9;
  margin-bottom: 50px;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  outline: none;
}
.formBlock .forma input.active {
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
  background-color: #000000c2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}
.formBlock .forma textarea.active {
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
  background-color: #000000c2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}
.formBlock .forma textarea {
  border-radius: 30px;
  background-color: #fff;
  border: 3px solid #88ccf9;
  resize: none;
  margin-bottom: 60px;
  text-align: center;
  font-size: 20px;
  outline: none;
}
.formBlock .forma .button {
  width: 200px;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #ff9100;
  border: 3px solid #fff;
  color: #fff;
  width: 200px;
  height: 60px;
  border-radius: 30px;
}
.formBlock .svg {
  width: 500px;
  height: 500px;
}